@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-dark: #000228;
  --foreground-dark: #ededed;
  --grayscale-amount: 0;
  --transition-duration: 1000ms;
}

@layer base {
  html,
  body {
    height: 100%;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--background-dark);
    --foreground: var(--foreground-dark);
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  overflow-x: hidden;
  filter: grayscale(var(--grayscale-amount));
  transition: filter var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
  will-change: filter;
}

html.grayscale-active {
  --grayscale-amount: 100%;
}